<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find sorting_arm_description)/config/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find sorting_arm_description)/config/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find sorting_arm_description)/config/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find sorting_arm_description)/config/visual_parameters.yaml"/>

  <xacro:include filename="ur5e/ur_macro.xacro"/>
  <xacro:include filename="robotiq_2f_85/ur_to_robotiq_adapter.urdf.xacro"/>
  <xacro:include filename="robotiq_2f_85/robotiq_2f_85_macro.urdf.xacro"/>

  <link name="world"/>
  <xacro:ur_robot
    name="ur5e"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)">
    <origin xyz="0 0 0.500" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:ur_to_robotiq prefix="$(arg tf_prefix)" parent="$(arg tf_prefix)tool0" child="$(arg tf_prefix)robotiq_85_mount_link"/>
  <xacro:robotiq_gripper
    name="robotiq_2f_85"
    prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)robotiq_85_mount_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

  <link name="$(arg tf_prefix)tcp"/>
  <joint name="$(arg tf_prefix)tcp_joint" type="fixed">
    <parent link="$(arg tf_prefix)robotiq_85_base_link"/>
    <child link="$(arg tf_prefix)tcp"/>
    <origin xyz="0 0 0.16" rpy="0 0 0"/>
  </joint>
</robot>
