<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="sorting_arm">

  <xacro:arg name="controllers_file" default=""/>
  <xacro:arg name="initial_positions_file"
             default="$(find sorting_arm_description)/config/initial_positions.yaml"/>
  <xacro:arg name="camera_width" default="1280"/>
  <xacro:arg name="camera_height" default="960"/>
  <xacro:arg name="camera_update_rate" default="20"/>
  <xacro:property name="initial_positions_file" value="$(arg initial_positions_file)"/>
  <xacro:property name="initial_positions"
                  value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

  <xacro:include filename="sorting_arm.xacro"/>
  <xacro:include filename="sorting_arm.gazebo_ros2_control.xacro"/>

  <gazebo reference="$(arg tf_prefix)camera_link">
    <sensor name="camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.5708</horizontal_fov>
        <image>
          <width>$(arg camera_width)</width>
          <height>$(arg camera_height)</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>2.0</far>
        </clip>
        <optical_frame_id>$(arg tf_prefix)camera_link_optical</optical_frame_id>
        <camera_info_topic>/camera/camera_info</camera_info_topic>
      </camera>
      <always_on>true</always_on>
      <update_rate>$(arg camera_update_rate)</update_rate>
      <visualize>true</visualize>
      <topic>camera</topic>
      <gz_frame_id>$(arg tf_prefix)camera_link_optical</gz_frame_id>
    </sensor>
  </gazebo>

</robot>
