<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find sorting_arm_description)/config/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find sorting_arm_description)/config/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find sorting_arm_description)/config/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find sorting_arm_description)/config/visual_parameters.yaml"/>

  <xacro:include filename="ur5e/ur_macro.xacro"/>
  <xacro:include filename="robotiq_2f_85/ur_to_robotiq_adapter.urdf.xacro"/>
  <xacro:include filename="robotiq_2f_85/robotiq_2f_85_macro.urdf.xacro"/>

  <link name="world"/>

  <!-- pedestal raises the shoulder above the tabletop so grasp poses dont fold the elbow -->
  <!-- collision is 4mm short of the tabletop on purpose, we cant ACM a runtime CollisionObject -->
  <joint name="$(arg tf_prefix)pedestal_joint" type="fixed">
    <parent link="world"/>
    <child link="$(arg tf_prefix)pedestal"/>
    <origin xyz="0 0 0.500" rpy="0 0 0"/>
  </joint>
  <link name="$(arg tf_prefix)pedestal">
    <visual>
      <origin xyz="0 0 0.100" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.16 0.200"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.102" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.16 0.196"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0.100" rpy="0 0 0"/>
      <inertia ixx="0.02" ixy="0.0" ixz="0.0" iyy="0.02" iyz="0.0" izz="0.02"/>
    </inertial>
  </link>

  <xacro:ur_robot
    name="ur5e"
    tf_prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)pedestal"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)">
    <origin xyz="0 0 0.200" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:ur_to_robotiq prefix="$(arg tf_prefix)" parent="$(arg tf_prefix)tool0" child="$(arg tf_prefix)robotiq_85_mount_link"/>
  <xacro:robotiq_gripper
    name="robotiq_2f_85"
    prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)robotiq_85_mount_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

  <link name="$(arg tf_prefix)camera_mount_link">
    <visual>
      <origin xyz="0 -0.03 0.015" rpy="2.677945 0 0"/>
      <geometry>
        <box size="0.01 0.067082 0.01"/>
      </geometry>
      <material name="camera_black">
        <color rgba="0.02 0.02 0.02 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.03 0.015" rpy="2.677945 0 0"/>
      <geometry>
        <box size="0.01 0.067082 0.01"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.000003833333" ixy="0" ixz="0" iyy="0.000000166667" iyz="0" izz="0.000003833333"/>
    </inertial>
  </link>
  <joint name="$(arg tf_prefix)camera_mount_joint" type="fixed">
    <parent link="$(arg tf_prefix)tool0"/>
    <child link="$(arg tf_prefix)camera_mount_link"/>
  </joint>

  <link name="$(arg tf_prefix)camera_link">
    <visual>
      <geometry>
        <box size="0.035 0.025 0.025"/>
      </geometry>
      <material name="camera_black">
        <color rgba="0.02 0.02 0.02 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.035 0.025 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.02"/>
      <inertia ixx="0.000002083333" ixy="0" ixz="0" iyy="0.000003083333" iyz="0" izz="0.000003083333"/>
    </inertial>
  </link>
  <joint name="$(arg tf_prefix)camera_joint" type="fixed">
    <parent link="$(arg tf_prefix)camera_mount_link"/>
    <child link="$(arg tf_prefix)camera_link"/>
    <origin xyz="0 -0.06 0.03" rpy="0 ${-pi/2} 0"/>
  </joint>

  <link name="$(arg tf_prefix)camera_link_optical"/>
  <joint name="$(arg tf_prefix)camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="$(arg tf_prefix)camera_link"/>
    <child link="$(arg tf_prefix)camera_link_optical"/>
  </joint>

  <link name="$(arg tf_prefix)tcp"/>
  <joint name="$(arg tf_prefix)tcp_joint" type="fixed">
    <parent link="$(arg tf_prefix)robotiq_85_base_link"/>
    <child link="$(arg tf_prefix)tcp"/>
    <origin xyz="0 0 0.16" rpy="0 0 0"/>
  </joint>
</robot>
